*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 56%;
    width: 20%;
    border: 8px solid #000;
    border-radius: 35px;
    background-color: #ccc;
    padding: 0;
    position: relative;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}

.top .bar{
    width: 100px;
    height: 20px;
    border-radius: 0 0 20px 20px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 30%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.dot{
    background-color: #575757;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.line{
    height: 2px;
    width: 50px;
    background-color: #575757;
    border-radius: 2px;
    margin-bottom: 8px;
}

.screen{
    height: calc(100% - 25px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

.screen button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    height: 70px;
    width: 70px;
}

.screen:nth-child(10){
    grid-column: 2/3;
    grid-row: 1/3;
}